#valves{
    background-color: white;
    color: darkblue;
    opacity: .7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    grid-column: 2;
    grid-row:  2;
    transition: all .3s;
}

#valves:hover{
    height: 20vh;
    background-color: darkblue;
    color: white;
    opacity: .7;
    transition: all .3s;
}

#valveList{
    list-style: none;
    margin-top: 5%;
    animation-name: valveList;
    animation-duration: .5s;
}
@keyframes valveList{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.list{
    padding: 1%;
}

#valveButtonText{
    display: grid;
    grid-template-rows: 1fr;
    grid-column: auto;
    justify-self: center;
    align-self: center;
    opacity: 1;

    transition: all .5s;
}

#valvesText{
    display: none;
}

.valveBackground{
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: valveBackground;
    animation-duration: .5s;
}

@keyframes valveBackground{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
